.products-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.products-container {
    border: double 5px #000000;
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* تقسيم العمود إلى 3 أجزاء متساوية */
    gap: 7px;
    padding: 20px;
    margin-top: 2%;
}

.single-product {
    box-sizing: border-box;
    border: double 2px #5f5252;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20%;
    height: 350px; 
    
}


.single-product img {
    width:160px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.price1{
    font-family: 'Courier New', Courier, monospace;
    
color: #c02d2d;
}

.single-product  :hover { 
 background-color: #5f5252;
}